@use "sass:color";

.LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;

  .btntheme,
  .btn-primary {
    background-color: #37162e;
    border: none;
    font-size: large;
  }

  .btntheme:hover {
    background-color: #a48a9d;
    color: #37162e;
    border: none;
    font-size: large;
  }

  .Login {
    margin: 20px auto;
    width: 100%;

    .Login_Container {
      padding: 20px;
      box-shadow:
        rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
      margin: auto;

      width: 40%;
      min-width: 320px;
      max-width: 460px;
      border-radius: 10px;

      @media (max-width: 768px) {
        width: 90%;
      }

      h1 {
        text-align: center;
      }
    }
  }
}

.LogoContainer {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.Logo {
  width: 180px;
  height: auto;
  margin-bottom: 10px;
  margin-right: 2px;
}

.heading_two_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 40px;
}

.heading_2 {
  margin: 0px 0px 0.35em;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  color: #2391b1;
}

.heading_two_item {
  color: rgb(105, 117, 134);
  font-weight: 400;
  font-family: Roboto, sans-serif;
  line-height: 1.66;
  font-size: 16px;
  text-align: inherit;
}

.button_div {
  margin-top: 50px;
  margin-bottom: 30px;
}

.login_button {
  border-radius: 4px;
  position: relative;
  width: 100%;
  border: 0px;
  border-radius: 5px;
  margin: 0px;
  outline: 0px;
  justify-content: center;
  background: linear-gradient(135deg, #243352, #08f624);
}
.login_button:hover {
  background: linear-gradient(135deg, #08f624, #243352);
}

.login_form_control {
  box-shadow: none;
  border-color: #c3d4da;
  height: 55px;
  border-radius: 10px;
}